---
const {image} = Astro.props;
const url = `http://localhost:3000/uploads/resize/${image.filename}`;

// const img = await fetch(`${url}/${image.filename}`);
// let images = await img.json();
---

<div class="bg-red-500 h-full">
    <h1>{image.userId}</h1>
    <img src={url} alt="imag" />
</div>