---
const { image } = Astro.props;

const { userId, hashtags } = image;
const url = "http://localhost:3000/api";

//Fetch para mirar el nombre del usuario de esa foto
let id = "";

try {
  const token = Astro.cookies.get("token").value;
  const resUserId = await fetch(`${url}/users/` + userId, {
    method: "GET",
    headers: {
      Authorization: `Bearer ${token}`,
    },
  });

  id = await resUserId.json();
  console.log(id)
} catch (error) {
  console.log(error);
}
---

<div class="bg-red-500 h-full">
  <a href={`/user/${id.name}`}>{id.name}</a>
  <img src={`http://localhost:3000/img/${image.filename}`} alt="imag" />
  {
    hashtags?.split(",").map((hashtag: string) => {
      return (
        <div class="">
          <a href={`/hashtags/${hashtag.slice(1)}`}>{hashtag}</a>
        </div>
      );
    })
  }
</div>
